@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(0, 0, 0);
    transition: .3s all ease;
   
}

header {
    display: flex;
    justify-content: space-between;
}






.img-header {
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: black;
    margin-left: 20px;
    margin-top: 10px;
    
    
}

.melo {
    height: 60px;
    width: 60px;
    background-image: url(./assets/img/MELO.png);
    background-position: top;
    background-size: cover;
    margin-top: -8px;
    
}




#body-container {
    height: calc(100vh - 35px);
    margin-bottom: 10px;
}


.left {
    
    height: calc(100vh - 35px);
    background-image: linear-gradient(to top, transparent 80%, rgb(0, 0, 0) 100%), url(./assets/img/1.jpg);
    background-size: cover;
    background-position: center;
    /*/-webkit-mask-image: linear-gradient(to bottom, transparent 0.5%, black 90%);/*/
    transition: 1s all ease;
    
    
}

.left:hover {
    
    height: calc(100vh - 35px);
    background-image: linear-gradient(to top, transparent 80%, rgb(0, 0, 0) 100%), url(./assets/img/1.jpg);
    background-size: cover;
    background-position: center;
    transition: 1s all ease;
    
}


.slide {
    height: 100vh;
    width: 100vw;
}

.glide__slides {
    height: 50vh;

}


.glide1 {
    margin-top: 10px;
}

.pdsampaio {
    
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/20bdfb140824273.6248ad9d4df65.jpg);
    background-size: cover;
    background-position: center;

}

.bikini {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/e28ee4140888085.624a0ac27b274.jpg);
    background-size: cover;
    background-position: center;
}

.hallowen {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/367182131095059.618db0603699c.jpg);
    background-size: cover;
    background-position: center;
}

.aviao {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/80e50a123621449.60f1d4701e562.jpg);
    background-size: cover;
    background-position: center;
}

.praia {

    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/fc7f19112275217.60117cb0d4dcf.jpg);
    background-size: cover;
    background-position: center;
}

.crianca {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/0d700b133574425.61c0e078cddfc.jpg);
    background-position: center;
    background-size: cover;
}




.bio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/6eee23140824273.6248ad9b910c6.jpg);
    background-position: left;
    background-size: cover;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid white;
    
    
}

.photo {
    display: flex;
    justify-content: center;
}


.photo-container {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    
    
    

}



.photo img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    -webkit-box-shadow: 0px 0px 29px 8px #fefefe; 
box-shadow: 0px 0px 29px 8px #ffffff;
    border: 2px solid white;
   
}

.title {
    margin: 10px;
    
}

.title h2 {
    font-weight: 500;
    color:white;
}

.description {
    margin: 10px;
}

.description h6 {
    font-weight: 300;
    font-size: 14px;
    color: white;
    margin: 10px;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    
}

#links ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#links li {
    margin: 10px;
    list-style:none;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s all ease;
    color: rgb(45, 45, 45);
    border: 1px solid white;
    border-radius: 2px;
    
}

#links li:hover {
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    width: 300px;
    height: 50px;

}

#links a {
    text-decoration: none;
    
    
}

footer {
    display: flex;
    justify-content: center;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    justify-content: center;
    align-items: center;
  

    
}

.cnpj {
    font-size: 10px;
}

#links i {
    width: 30px;
    margin-left: 5px;
}




